
.mobileNavigation {
    display: flex;
    align-items: center;
    flex: 0.6;
    justify-content: space-around;
  }
  
  .drawerToggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
    color: #555;
    align-items: center;
    display: flex;
  }
  
  
  .drawer {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .drawer a {
    display: block;
    padding: 5px 0;
    color: #555;
    text-decoration: none;
  }
  
  