
.scrollContainer {
    height: 200px;
    overflow: auto;
    border: 3px solid #ccc;
    border-radius: 20px;
    padding: 4px;
  }
  
  .itemList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  
  .itemList li {
    padding: 10px;
  }
  
  .listCross {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .item-list li:last-child {
    border-bottom: none;
  }