/* App.css (or your custom CSS file) */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
  top: 0;
  position: fixed;
  width: -webkit-fill-available;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0.3;
  justify-content: center;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}


.logo-container span {
  font-weight: bold;
  text-decoration: none;
}
